<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Freerk Zakfeld</title>
  <link rel="stylesheet" href="/css/index.css" />
</head>
<body class="bg-neutral-900 text-white">
  <div class="mx-auto px-4 max-w-screen-sm">
    <div class="py-8 font-extrabold text-xl"><a href="/">Freerk Zakfeld</a></div>
    {{ content | safe }}
    <div class="py-8 prose prose-invert">
      <small>2024 Freerk-Ole Zakfeld. <a href="/legal-notice">Legal</a> / <a href="/privacy-policy">Privacy</a></small>
    </div>
  </div>
</body>
</html>