---
layout: post.njk
title: Legal Notice
---

<h3>Licensing</h3>
<p>Unless otherwise noted, content on this website is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License. 
  <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Learn more</a></p>

<h3>Responsible for content</h3>
<p>Freerk-Ole Zakfeld
  <br>
  Walddörferstr. 215
  <br>
  22047 Hamburg, Germany
</p>

<h3>Contact</h3>
<p>
  Tel: +49 15678 365469
  <br>
  Email: freerk@zakfeld.com
  <br>
  For non-legal matters please use the contact options listed on the <a href="/">main page</a>
</p>